@import url("https://fonts.googleapis.com/css2?family=Montserrat");

/* Body styling */

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container {
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.overlay-container {
  display: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  width: 50%;
  right: 0;
  z-index: 1;
}

.form-container form {
  height: 100%;
  background: #fff;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.form-container input {
  width: 100%;
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
}

button {
  background: #ff445c;
  color: white;
  border: 1px solid #ff4b2b;
  border-radius: 20px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.96);
}

button:focus {
  outline: none;
}

.ghost {
  background: transparent;

  border-color: white;
}

.sign-up-container{
    left: 0;
    opacity: 0;
}

.overlay-container{
    display: block;
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 100%;
    top:0;
    left: 50%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
}

.overlay{
    position: relative;
    height: 100%;
    width: 200%;
    left: -100%;
    background: linear-gradient(to right,#ff4b2b,#ff445c) no-repeat 0 0 / cover;
    color: white;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;

}

.overlay-right{
    right: 0;
    transform: translateY(0);
}

.overlay-left{
    transform: translateY(-20%);
}

.container.right-panel-active{
    & .sign-in-container{
        transform: translateY(100%);
    }

    & .overlay-container{
        transform: translateX(-100%);
    }
}

.container.right-panel-active{
    & .sign-up-container{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }

    & .overlay{
        transform: translateX(50%);
    }
    & .overlay-right{
        transform: translateY(20%);
    }
}